html {
    animation:
        colorize 2s infinite linear,
        spin 0.8s infinite linear !important;
}

body {
    background:
        linear-gradient(
            to right,
            red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet
        ) !important;
}

img {
    animation: hue 3.1s infinite linear !important;
}

@keyframes colorize {
    from {
        filter: saturate(100000000000%);
    }

    to {
        filter: saturate(100000100000%);
    }
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes spin {
    0% {
        cursor: n-resize;
    }

    12.5% {
        cursor: ne-resize;
    }

    25% {
        cursor: e-resize;
    }

    37.5% {
        cursor: se-resize;
    }

    50% {
        cursor: s-resize;
    }

    62.5% {
        cursor: sw-resize;
    }

    75% {
        cursor: w-resize;
    }

    87.5% {
        cursor: nw-resize;
    }

    100% {
        cursor: n-resize;
    }
}
